@using Radyn.Web.Mvc;
@model IEnumerable<Product>
@{
ViewBag.Title = Resources.dbo.ProductList;
}
@section Head{}
@section PageTitle {Resources.dbo.ProductList } 
@section PageAction { 
 <div class="button-div"> 
@Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/dbo/Product/Create")).Text(Resources.dbo.ProductNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15")
</div>
}
@section PageActionDown { 
 <div class="button-div"> 
@Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/dbo/Product/Create")).Text(Resources.dbo.ProductNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15")
</div>
}
<div class="radynForm">
<div class="grid-guid">
<div class="grid-guid-title">
@Resources.Common.Help
</div>
<ul>
<li>
<img src="/Content/Images/details.png">
@Resources.Common.Detail
</li>
<li>
<img src="/Content/Images/Delete-Close.png">
@Resources.Common.Delete
</li>
<li>
<img src="/Content/Images/edit.png">
@Resources.Common.Edit
</li>
<div class="fit">
@{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style ="width: 98%; margin: 0auto" }).Columns(columns =>
{
columns.Template(product => product.Id).Title(Resources.dbo.ProductId).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.Name).Title(Resources.dbo.ProductName).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.NameTR).Title(Resources.dbo.ProductNameTR).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.Description).Title(Resources.dbo.ProductDescription).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.DescriptionTR).Title(Resources.dbo.ProductDescriptionTR).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.Detail).Title(Resources.dbo.ProductDetail).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.DetailTR).Title(Resources.dbo.ProductDetailTR).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.Price).Title(Resources.dbo.ProductPrice).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.ProductTypeId).Title(Resources.dbo.ProductProductTypeId).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.CurrencyTypeId).Title(Resources.dbo.ProductCurrencyTypeId).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.CategoryIdArray).Title(Resources.dbo.ProductCategoryIdArray).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.IsAutoComplete).Title(Resources.dbo.ProductIsAutoComplete).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.ObjectValue).Title(Resources.dbo.ProductObjectValue).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.ImgUrl).Title(Resources.dbo.ProductImgUrl).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.RecBy).Title(Resources.dbo.ProductRecBy).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.RecDate).Title(Resources.dbo.ProductRecDate).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.RecStatus).Title(Resources.dbo.ProductRecStatus).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.HasTax).Title(Resources.dbo.ProductHasTax).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product => product.TaxRate).Title(Resources.dbo.ProductTaxRate).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(product =>"<a style='cursor: pointer;' href="+Url.Content("~/dbo/product/Details")+"?Id="+product.Id+"  > <img width='18' align='absmiddle' title='"+Resources.Common.Detail+"'  src='"+Url.Content("~/Content/Images/details.png")+"' /></a> | <a href="+Url.Content("~/dbo/product/Edit")+"?Id="+product.Id+" >  <img width='18' align='absmiddle' title='"+Resources.Common.Edit+"'   src='"+Url.Content("~/Content/Images/edit.png")+"' /></a> | <a href="+Url.Content("~/dbo/product/Delete")+"?Id="+product.Id+" > <img width='18' align='absmiddle' title='"+Resources.Common.Delete+"'   src='"+Url.Content("~/Content/Images/Delete-Close.png")+"' /></a>").Width(300);
})
.Sortable(sorting => sorting.Enabled(true))
.Pageable(paging => paging.Enabled(true))
.Filterable(filtering => filtering.Enabled(true))
.Render();}
</div>
</div>
